.boxsi {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 30px !important;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  /* index.css */
.bg-custom-gradient {
  background: linear-gradient(180deg, #efb67e 12%, #e81cff 50%, #04b0f4 100%);
  border: 2px solid transparent;
}

  
  
  @keyframes translateIn {
    0% {
      transform: translate(-50%, -50%) scale(0.4);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }
  }

  
  



  
  